<section class="hero">
    <video #bgVideo muted loop playsinline class="video">
        <source src="/assets/video/hero-video-horizontal.mp4" type="video/mp4">
        Ваш браузер не підтримує відтворення відео.
    </video>
    <div class="container flex-column">
    <h1 class="hero__title">Курс з туризму</h1>
    <p class="hero__text">Для тих, хто хоче змінити професію та почати заробляти в улюбленій сфері, або вдосконалити свої знання уже діючому менеджеру з туризму</p>
    <button class="blue" (click)="openInstagram()">Записатися на курс</button>
    </div>
</section>