<section class="success">
  <div class="container flex-column">
    <div class="wrapper">
    <h2 class="success__title">Вітаю!</h2>
    <p class="success__text">
      Ви щойно зробили крок до нових знань і можливостей! <br />
      Оплата пройшла успішно
    </p>

    <div class="success__block">
      <p>Доступ до закритої спільноти вже чекає на вас у Telegram:</p>
      <button class="blue" (click)="openTelegram()">
         Приєднатись зараз
      </button>
    </div>

    <div class="success__block">
      <p>Старт курсу вже скоро!<br />
      Точну дату початку вам повідомить наш менеджер.</p>
    </div>

    <div class="success__block">
      <p>Якщо виникнуть питання — ми завжди на зв’язку:</p>
      <a href="tel:+380673112505" class="btn btn-outline">
        📞 +380673112505
      </a>
      <div class="success__contacts">
        <span class="social">Telegram</span>
        <span class="social">Viber</span>
        <span class="social">WhatsApp</span>
      </div>
    </div>
    </div>
    </div>
</section>
