<section class="container">
    <div class="question">
        <h2>Залишились запитання?</h2>
        <a routerLink="/contact">
            <button class="write">Пиши</button>
        </a>
        <app-svg class="icon-svg" [filePath]="'/assets/icon/question.svg'" ></app-svg>
    <div class="media">
        <a aria-label="instagram" class="icon-social" target="_blank" rel="nofollow" href="">
            <app-svg class="icon-media" [filePath]="'/assets/icon/question-instagram.svg'" ></app-svg>
        </a>
        <a aria-label="telegram" class="icon-social" target="_blank" rel="nofollow" href="">
            <app-svg class="icon-media" [filePath]="'/assets/icon/question-telegram.svg'" ></app-svg>
        </a>
    </div>
    </div>
</section>