<section class="container">
    <div class="question">
        <h2>Залишились запитання?</h2>
        <a routerLink="/contact">
            <button class="write">Пиши</button>
        </a>
    <div class="media">
        <a aria-label="instagram" class="icon-social" target="_blank" rel="nofollow" href="https://www.instagram.com/yulyakorona?igsh=bWl5MDJha3Zwd2Ns&utm_source=qr">
            <app-svg class="icon-media" [filePath]="'/assets/icon/question-instagram.svg'" ></app-svg>
        </a>
        <a aria-label="telegram" class="icon-social" target="_blank" rel="nofollow" href="https://t.me/+ZSBMUEypJGYyZGYy">
            <app-svg class="icon-media" [filePath]="'/assets/icon/question-telegram.svg'" ></app-svg>
        </a>
    </div>
    </div>
</section>