.question {
  background: url("../../../../assets/images/question.webp");
  background-size: cover;
  padding: 183px 0;
  color: var(--white);
  height: 100%;
  gap: 100px;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-top: -200px;

  & > h2 {
    font-family: var(--big);
    font-size: 64px;
    text-align: center;
    margin-bottom: 35px;
  }
 
}
.write{
    color: var(--bg-section-blue);
    font-weight: 900;
    font-size: 14px;
    background-color: var(--white);
    &:hover,
    &:focus {
      background-color: var(--bg-section);
    }
  }
  .icon-svg{
    width: 45px;
    height: 40px;
    background: var(--white);
   text-align: center;
   margin: 0 auto;
   margin-top: 15px;
  }