<section class="whom container">
    <div class="whom__titlewraper">
        <app-svg class="icon-lamp" [filePath]="'/assets/icon/whom-lamp.svg'" ></app-svg>
        <h2 class="whom__title">Кому буде корисно:</h2>
        
    </div>
    <div class="whom__info">
        <div class="lines">
            <app-svg class="icon-svg--one" [filePath]="'/assets/icon/whom-line.svg'" ></app-svg>
            <app-svg class="icon-svg--two" [filePath]="'/assets/icon/whom-line.svg'" ></app-svg>
            <app-svg class="icon-svg--three" [filePath]="'/assets/icon/whom-line.svg'" ></app-svg>
            <app-svg class="icon-svg--four" [filePath]="'/assets/icon/whom-line.svg'" ></app-svg>
            <app-svg class="icon-svg--five" [filePath]="'/assets/icon/whom-line.svg'" ></app-svg>
        </div>
    <ul class="whom__list row">
        <li class="whom__item">
            <p>Якщо ти мрієш працювати у сфері туризму, але не знаєш, з чого почати</p>
        </li>
        <li class="whom__item">
            <p>Якщо ти вже цікавишся подорожами та хочеш монетизувати це</p>
        </li>
        <li class="whom__item">
            <p>Якщо хочеш створювати власні тури або працювати менеджером</p>
        </li>
        <li class="whom__item">
            <p>Якщо тобі важливо навчатися у того, хто реально працює в цій сфері, а не просто читає лекції</p>
        </li>
        <li class="whom__item">
            <p>Якщо ти прагнеш бути незалежною і мати можливість працювати з будь якої точки світу без привʼязки до офісу</p>
        </li>
        
    </ul>
    </div>
</section>
