@use "../../../../assets/scss/breakpoint" as *;

.about {
  background-color: var(--bg-section);
  padding: 50px 0px 50px 0px;
  @media (min-width: #{$pc-small}) {
    padding: 50px 15px 50px 15px;
  }
  &__container {
    gap: 40px;
    flex-direction: column;
    @media (min-width: #{$pc-small}) {
      flex-direction: row;
    }
  }
  &__image-wrapper {
    aspect-ratio: 480 / 606;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    @media (min-width: #{$mobile_hor}) {
        max-width: 50%;
      }
    @media (min-width: #{$pc-small}) {
      max-width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__line {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 110%;
    height: 105%;
  }
  &__content {
    gap: 42px;
    justify-content: center;
  }
  &__list {
    gap: 25px;
    font-size: 20px;
  }
  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;

    & p {
        @media (min-width: #{$pc-small}) {
            max-width: 566px;
          }  
      
    }
  }
  &__overlay {
    position: absolute;
    width: fit-content;
    top: 3%;
    right: 10%;
    display: flex;
    align-items: baseline;
    gap: 20px;

    & h2 {
      font-family: var(--big);
      font-weight: 700;
      font-size: 32px;
      line-height: 110%;
      color: var(--black);
    }

    @media (min-width: 740px) {
        top: 2%;
        right: 10%;
        & h2 {
            font-size: 48px;
        }
      }

      @media (min-width: 990px) {
        top: 0;
        right: 10%;
        & h2 {
            font-size: 64px;
        }
      }
  }
}

.icon-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
