<section class="about">
    <div class="container about__container row-no-wrap">
        <div class="about__image-wrapper">
            <img class="about__image" loading="lazy" src="/assets/images/about-me-section.png" alt="girl on sofa">
        </div>
        <div class="about__content flex-column">
            <h2 class="about__title">Про мене</h2>
        <ul class="about__list flex-column">
            <li class="about__item"><app-svg class="icon-svg" [filePath]="'/assets/icon/about-1.svg'" ></app-svg><p>Я — Тревел експерт Юлія Короновська</p></li>
            <li class="about__item"><app-svg class="icon-svg" [filePath]="'/assets/icon/about-2.svg'" ></app-svg><p>Маю профільну освіту та досвід роботи у туризмі понад  15 років</p></li>
            <li class="about__item"><app-svg class="icon-svg" [filePath]="'/assets/icon/about-3.svg'" ></app-svg><p>Організувала десятки турів, працюю з  клієнтами з різних міст</p></li>
            <li class="about__item"><app-svg class="icon-svg" [filePath]="'/assets/icon/about-4.svg'" ></app-svg><p>Знаю всі нюанси туристичного бізнесу — від першого клієнта до повноцінного прибутку</p></li>
            <li class="about__item"><app-svg class="icon-svg" [filePath]="'/assets/icon/about-5.svg'" ></app-svg><p>Навчу тебе швидко заробляти свої перші гроші в туризмі — без води, тільки практика та перевірені методи!</p></li>
            <li class="about__item"><app-svg class="icon-svg" [filePath]="'/assets/icon/about-6.svg'" ></app-svg><p>Гарантую супровід на твоєму шляху до мрії!!!</p></li>
        </ul>
    </div>
    </div>
</section>
