<section class="plan">
  <div class="container">
    <h2>Модулi</h2>
    <ul class="plan__content row">
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 1</h3>
        <div class="plan__info">
          <p class="plan__title">Основні терміни та поняття у туризмі</p>
          <p>
            Розуміння галузі зсередини: термінологія, класифікації, особливості
          </p>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 2</h3>
        <div class="plan__info">
          <p class="plan__title">Робота з туроператорами</p>
          <ul>
            <li>Як будувати партнерство</li>
            <li>Як бронювати тури</li>
            <li>Як перевіряти надійність туроператорів</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 3</h3>
        <div class="plan__info">
          <p class="plan__title">Основні напрямки та види турів</p>
          <ul>
            <li>Що продається найкраще</li>
            <li>Сезонність</li>
            <li>Індивідуальні та групові тури</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 4</h3>
        <div class="plan__info">
          <p class="plan__title">Готельна база</p>
          <ul>
            <li>Як читати опис готелю</li>
            <li>Як обирати під клієнта</li>
            <li>Як уникати підводних каменів</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 5</h3>
        <div class="plan__info">
          <p class="plan__title">Як успішно продавати тури</p>
          <ul>
            <li>Скрипти для продажу</li>
            <li>Обробка заперечень</li>
            <li>Як продавати з довірою</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 6</h3>
        <div class="plan__info">
          <p class="plan__title">Скільки може заробляти менеджер?</p>
          <p>Цифри, приклади, реальні кейси</p>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <h3 class="plan__number">Модуль 7</h3>
        <div class="plan__info">
          <p class="plan__title">
            Після продажу: задоволений турист = постійний турист
          </p>
          <p>Як сервіс приводить клієнтів знову</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="plan">
  <div class="container">
    <ul class="plan__content flex-column">
      <li class="plan__item row-no-wrap">
        <span class="plan__number">1</span>
        <div class="plan__info">
          <p class="plan__title">Основні терміни та поняття у туризмі</p>
          <p>
            Розуміння галузі зсередини: термінологія, класифікації, особливості
          </p>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <span class="plan__number">2</span>
        <div class="plan__info">
          <p class="plan__title">Робота з туроператорами</p>
          <ul>
            <li>Як будувати партнерство</li>
            <li>Як бронювати тури</li>
            <li>Як перевіряти надійність туроператорів</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <span class="plan__number">3</span>
        <div class="plan__info">
          <p class="plan__title">Основні напрямки та види турів</p>
          <ul>
            <li>Що продається найкраще</li>
            <li>Сезонність</li>
            <li>Індивідуальні та групові тури</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <span class="plan__number">4</span>
        <div class="plan__info">
          <p class="plan__title">Готельна база</p>
          <ul>
            <li>Як читати опис готелю</li>
            <li>Як обирати під клієнта</li>
            <li>Як уникати підводних каменів</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <span class="plan__number">5</span>
        <div class="plan__info">
          <p class="plan__title">Як успішно продавати тури</p>
          <ul>
            <li>Скрипти для продажу</li>
            <li>Обробка заперечень</li>
            <li>Як продавати з довірою</li>
          </ul>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <span class="plan__number">6</span>
        <div class="plan__info">
          <p class="plan__title">Скільки може заробляти менеджер?</p>
          <p>Цифри, приклади, реальні кейси</p>
        </div>
      </li>
      <li class="plan__item row-no-wrap">
        <span class="plan__number">7</span>
        <div class="plan__info">
          <p class="plan__title">
            Після продажу: задоволений турист = постійний турист
          </p>
          <p>Як сервіс приводить клієнтів знову</p>
        </div>
      </li>
    </ul>
  </div>
</section> -->
