<section class="price">
  <div class="price__title container">
    <h2>Тарифи курсу</h2>
  </div>
  <div class="price__info">
    <div class="container">
      <ul class="row price__container">
        <li class="price__card flex-column">
          <h3 class="price__card-title">Базовий</h3>
          <div class="price__card-conditions flex-column">
            <ul class="conditions flex-column">
              <li class="">
                <p> Ідеально для старту!</p>
               
              </li>
              <li class=""><p>Базовий курс для майбутніх менеджерів</p>
                
              </li>
              <li class=""><p>Основні туристичні напрямки</p>
                
              </li>
              <li class=""><p>Готельна база для популярних країн</p>
                
              </li>
            </ul>
            <span class="number">{{22900}} ₴</span>
            <button (click)="payFunc()" class="blue">Оплатити</button>
          </div>
        </li>
        <li class="price__card flex-column">
          <h3 class="price__card-title">Максимальний</h3>
          <div class="price__card-conditions flex-column">
            <ul class="conditions flex-column">
              <li class=""><p>Глибше, більше, впевненіше!</p>
                
              </li>
              <li class=""><p>Розширена готельна база по всіх напрямках</p>
                
              </li>
              <li class=""><p>Включає екзотику</p>
                
              </li>
              <li class=""><p>Підтримка після завершення курсу</p>
                
              </li>
            </ul>
            <span class="number">{{31500}} ₴</span>
            <button (click)="payFunc()" class="blue">Оплатити</button>
          </div>
        </li>
        <li class="price__card flex-column">
          <h3 class="price__card-title">Ексклюзивний</h3>
          <div class="price__card-conditions flex-column">
            <ul class="conditions flex-column">
              <li class=""><p>Для тих, хто хоче відкрити власну справу!</p>
                
              </li>
              <li class=""><p>Окремий модуль: відкриття агенції</p>
                
              </li>
              <li class=""><p>Допомога у виборі формату (онлайн/офлайн, франчайзинг/незалежна агенція)</p>
                
              </li>
            </ul>
            <span class="number">{{38900}} ₴</span>
            <button class="blue" (click)="payFunc()">Оплатити</button>
          </div>
        </li>
      </ul>
      <div class="benefits flex-column">
        <h3 class="benefits__title">Бонуси</h3>
        <ul class="benefits__info">
          <li class="benefits__card"><p>Доступ до спільноти учнів</p></li>
          <li class="benefits__card"><p>Персональна консультація від мене</p></li>
          <li class="benefits__card"><p>Готові матеріали для старту роботи</p></li>
        </ul>
      </div>
    </div>
    
  </div>
</section>
