@use "../../../../assets/scss/breakpoint" as *;
.price {
  &__title {
    padding: 75px 0 100px 0;
    & > h2 {
      text-align: center;
      font-family: var(--big);
      font-weight: 700;
      font-size: 64px;
      text-align: center;
      color: var(--btn-blue);
    }
  }
 
  &__info {
    background: url("../../../../assets/images/price.webp");
    background-size: cover;
    min-height: 690px;
    padding: 0 20px 70px 20px;
  }
  &__card {
    // padding: 50px 40px;
    max-width: 340px;
    min-width: 300px;
    min-height: 540px;
    width: calc(33.33% - 20px);
    background-color: var(--white);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    gap: 30px;
    @media (min-width: #{$pc-small}) {  
        max-width: 360px;
        min-height: 560px;
    }

    &-conditions {
      align-items: center;
      gap: 25px;
    }
  }
  &__container {
    gap: 30px;
    top: -30px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (min-width: #{$pc-small}) {  
        flex-direction: row;
    }

  }
  &__card-title {
    padding: 25px 40px;
    background-color: var(--bg-section-blue);
    font-size: 40px;
    color: var(--white);
  }
  &__card-conditions {
    padding: 20px 25px 44px 40px;
    flex-grow: 1;
  }

  
}

.number {
    font-family: var(--big);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #333735;
  }

.conditions {
  gap: 15px;
  padding: 0 25px 0 20px;
  flex-grow: 1;
  & > li {
    list-style: disc;
  }
}

.benefits {
  align-items: center;
  justify-content: center;
  gap: 50px;
  color:var(--white);
  &__title{
    font-family: var(--big);
    font-size: 64px;
    text-align: center;

  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: center;
    @media (min-width: #{$pc-small}) {  
        flex-direction: row;
        
    }
  }
  &__card {
    border: 1px solid var(--white);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    @media (min-width: #{$pc-small}) {  
        max-width: 360px;
    }
  }
}
