/* You can add global styles to this file, and also import other style files */
@use "normalize.css";
@use "../src/assets/scss/_breakpoint.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}
html {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

//   &.modal-open {
//     overflow-y: hidden;
//   }
}
// html:has(.backdrop[show=true]) {
//   overflow: hidden;
// }


body{
  font-family: var(--prime);
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--big);
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

label {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a, button{
  cursor: pointer;
  border: none;
  text-decoration: none;
  color:inherit
}

button:focus {
  outline: none;
}

button{
    padding: 20px 33px;
    width: fit-content;
    font-family: var(-btnFonts);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.1em;
    transition: background-color linear 300ms ;
    &.blue{
        background-color: var(--bg-primary);
        color:var(--btn-blue);
        &:hover,
        &:focus {
      background-color: var(--btn-active); 
    }
    }
    &.black{
        background-color: var(--black);
        color:var(--white);
        &:hover,
    &:focus {
      background-color: var(--btn-active-black); 
    }
    }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row-no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline{
  align-items: baseline;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.overflow-hidden {
  overflow: hidden;
}


.container {
  @media (min-width: 0) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $mobile_vert) {
    min-width: $mobile_vert;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: #{$mobile_hor}) {
    min-width: $mobile_hor;
  }


  @media (min-width: #{$pc-small}) {
    max-width: $pc-small;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width:#{$pc-big}) {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

//Vars
:root {
  // fonts
  --prime: "Source Sans 3", sans-serif;
  --second: "Roboto", sans-serif;
  --big: "Cormorant", sans-serif;
  --btnFonts: "Raleway", sans-serif;
//text color
 --black:#000;
 --black-second: #1e1e20;
 --white:#fff;
//Button
 --btn-blue:#333735;
 --btn-active:#a6f0ec;
 --btn-active-black: #333;
// border
 
    
// Background
  --bg-section-blue:#24334D;
  --bg-primary: #7ce5e0;
  --bg-section:#F8F8F8;
  
  
//Elements Image Backgrounds;


// Icon

  
// Backdrop


//Form


//Error color


//slider
  

}