<section class="form container flex-column">

    <form class="flex-column" action="" [formGroup]="form" (ngSubmit)="onSubmit(sendBtn)">
        <h2>форма</h2>
        <label for="name">
            <input class="input" id="name" type="text"  placeholder="ім'я" formControlName="name">
        </label>
        <label for="email">
            <input class="input" id="email" type="email" placeholder="електронна скринька" formControlName="email">
        </label>
        <label for="phone">
            <input class="input" id="phone" type="tel" placeholder="телефон" formControlName="phone">
        </label>
        <button type="submit" [disabled]="form.invalid || isSending">
            {{ isSending ? 'Надсилається...' : 'Зв’язатись' }}
          </button>
        <button #sendBtn type="reset" hidden>Reset</button>
    </form>

    @if(sendMessage){
        <div>
            <p>Ваше повідомлення надіслано успішно</p>
            <button (click)="closeSuccesMsg()">Закрити</button>
        </div>
    }

    @if(errorMsg){
        <div>
            <p>Сталася помилка: {{ errorText }}</p>
            <button (click)="closeErrorMsg()">Закрити</button>
        </div>
    }
</section>
